# PostgreSQL
POSTGRES_DB=movie_ai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/movie_ai

# Python IA
MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2
PYTHON_AI_HOST=0.0.0.0
PYTHON_AI_PORT=8000

# Node
PORT=3000
PYTHON_AI_URL=http://localhost:8000/search

# TMDB
TMDB_API_KEY=COLOQUE_SUA_CHAVE_AQUI
TMDB_LANGUAGE=pt-BR
TMDB_REGION=BR

# Coleta inicial: boa quantidade de filmes, mas sem ficar absurdo
TMDB_YEAR_START=1900
TMDB_YEAR_END=2026
TMDB_MAX_PAGES=5
TMDB_MIN_VOTE_COUNT=1
TMDB_SLEEP=0.20

IMPORT_MOVIES=true
IMPORT_SERIES=false
